/*.contain {
	display: flex;
	justify-content: space-between;
	height: 400px;
	padding-bottom: 500px;
}*/

.btn {
	transition: 0.4s;
	height: 40px;
	width: 240px;
	position: relative;
	top: 30%;
	border-radius: 20px;
	margin-right: 125px;
	background-color: #ffffff;
	color: #6c63ff;
	border-color: #6c63ff;
}
.btn:hover {
	cursor: pointer;
	background-color: #6c63ff;
	color: #ffffff;
}

.logo-styles {
	padding-left: 50px;
	padding-top: 100px;
	height: 125px;
	width: 125px;
	object-fit: contain;
}